# General
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Hosting


# DBs
DATABASE_URL_NEON=

DATABASE_URL_MYSQL_CLEVERCLOUD=
DATABASE_URL_MYSQL_CLEVERCLOUD_USER=
DATABASE_URL_MYSQL_CLEVERCLOUD_PASSWORD=

DATABASE_URI_MONGODB=

REDIS_URL=
REDIS_SECRET=

PAYLOAD_SECRET=RANDOM_SECRET_STRING

# Blob Storage
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Auth
NEXTAUTH_SECRET=RANDOM_SECRET_STRING

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_ISSUER_URL=https://<KINDE-PROJECT-NAME>.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard

# Email Service
RESEND_API_KEY=

# Payments
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# OpenAI for answering PDF questions - https://platform.openai.com/
OPENAI_API_KEY=

# Pinecone for long-term vector storage - https://www.pinecone.io/
PINECONE_API_KEY=
PINECONE_INDEX=